:root{
  --orange:#ff2c2c;
  --back:#DCDCE5;
}
button {
    width: 100%;
    height: 80px;
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    background-color: var(--orange);
    }

button:hover {
    background-color:var(--back);
    color: var(--orange);
}
