:root{
    --back:#DCDCE5;
    --orange:#2a7577;
    --md:160px
}
.contador {
    min-width: 300px;
    height: auto;
    font-size: var(--md);
    padding: 25px;
    display: flex;
    justify-content: center;
    background-color: var(--back);
    color:var(--orange);
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10%;
}
